.wrapper {
	min-width:320px;
	margin:0 auto;
}

.main section {
		height:320px;
}


@media screen and (min-width: 320px) {
	.main section {
		height:320px;
	}
}

@media screen and (min-width: 768px) {
	.main section {
		height:768px;
	}
}